// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* breadcrumb */
body {
  padding: .75rem 0;
  margin-bottom: 0;
  background-color: #99aaff;
  border-radius: 0;
}

/* button */
.btn {
  padding: .5rem 1rem;
  border-radius: 0;
}


